.hero{
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.hero h1 {
    text-align: center;
    width: 100%;
    font-size: 60px;
    margin-top: 80px;
    margin-bottom: 150px;
    color: white;
}
.hero h1 span{
    background:linear-gradient(to right, #433D8B, #C8ACD6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #C8ACD6; 
}

.hero p{
    width: 50% ;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
  
}
.hero-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 200px;
}
.hero-connect {
    padding: 25px 45px;
    border-radius: 50px;
    background: #474973;
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover {
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #474973;
}

.typewriter {
    display: inline-block;
    min-height: 1.2em;
    min-width: 15em;
    color: white;
  }
  .cursor {
    display: inline-block;
    width: 3px;
    height: 1em;
    background-color: white;
    margin-left: 2px;
    animation: blink 0.7s infinite;
    margin-top: 100px;
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }