.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../../assets/background-img.png'); /* Chemin de l'image */
  background-size: cover;
  background-position: center;
  margin-bottom: 150px;
}


.hero-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
  padding: 0 1rem;
}

.typewriter {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  height: 6rem;
  color: #719bff; 
}

@media (min-width: 768px) {
  .typewriter {
      font-size: 1.875rem;
  }
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.5em;
  background-color: #719bff; 
  margin-left: 2px;
  animation: blink 0.5s infinite;
  color: #abc4ff; 
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.hero h1 {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}



@media (min-width: 768px) {
  .hero h1 {
      font-size: 3.75rem;
  }
}

.gradient-text {
  background: linear-gradient(to right, black, black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

@media (min-width: 640px) {
  .hero-action {
      flex-direction: row;
  }
}

.hero-connect {
  background-color: #474973;
}

.hero-connect:hover {
  background-color: #474973;
  opacity: 0.9;
}

.hero-resume {
  border-color: black;
  color: black;
}

.hero-resume:hover {
  background-color: black;
  color: black;
}
