.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px auto;
}

.mywork-title{
    position: relative;

}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.mywork-container {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 20px;
    width: 100%;
    margin-bottom: 200px;
    align-items: center;
    padding-left: 250px;
}
.mywork-item {
    position: relative;
    width: 300px;
    height: 180px;
    overflow: hidden;
}

.mywork-item img {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
}

.mywork-item:hover img {
    transform: scale(1.10);
    border: 4px solid #FFAE9D;
    border-radius: 10px;
    transition: 0.3s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.mywork-item:hover .overlay {
    opacity: 1;
}

.overlay p {
    font-size: 16px;
    margin-bottom: 10px;
    margin: 20px;
    text-align: center;

}

.cta {
    padding: 10px 20px;
    background-color: #FFAE9D;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta:hover {
    background-color: #e89b87;
}
