.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 80px 150px;
  max-width: 1200px;
  padding: 0 20px;
}

.about-content {
  position: relative;
  width: 100%;
  margin-top: 0px;
}

.about-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.about-image img {
  width: 200px;
  border-radius: 8px;
}

.about-text-block {
  background-color: #f9f9f9;
  padding: 90px 30px 30px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  color: #2E236C;
}

.para-container {
  display: flex;
  gap: 30px;
  max-width: 100%; 
  margin: 0 auto;
  padding-top: 10px;
}

.p1, .p2 {
  flex: 1;
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
  min-width: 80px;
  max-width: 120px;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
}

.skill-name {
  font-size: 12px;
  color: white;
  text-align: center;
}

.about-action {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-linkedin {
  background: white;
  color: #17153B;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 15px 30px;
  border: none;
}

.about-resume {
  color: white;
  border-color: white;
  background: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 15px 30px;

}

.about-resume:hover,
.about-linkedin:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .para-container {
    flex-direction: column;
  }
  
  .about-text-block {
    padding: 100px 20px 20px;
    margin-top: 50px;
  }

  .about-image {
    top: -75px;
  }

  .about-image img {
    width: 150px;
  }

  .social-icons {
    justify-content: center;
  }

  .skill-item {
    min-width: 60px;
    max-width: 80px;
  }

  .social-icon {
    width: 30px;
    height: 30px;
  }

  .skill-name {
    font-size: 10px;
  }

  .about-action {
    flex-direction: column;
    align-items: center;
  }

  .about-resume,
  .about-linkedin {
    width: 100%;
  }
}