.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 80px 150px;
  max-width: 1200px;
  padding: 0 20px;
}

.about-content {
  position: relative;
  width: 100%;
  margin-top: 0px;
}

.about-image {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.about-image img {
  width: 200px;
  border-radius: 8px;
}

.about-text-block {
  background-color: #e2eafc ;
  padding: 90px 30px 30px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  margin-top: 80px;
  position: relative;
  z-index: 1;
  color: black;
}

.para-container {
  gap: 30px;
  max-width: 100%; 
  margin: 0 auto;
  padding-top: 10px;
}

.p1, .p2 {
  flex: 1;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}


.para-title {
  text-align: center;
  color: black;
  margin-bottom: 10px;
  font-size: 30px;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 2px solid #abc4ff;
  border-radius: 8px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  background-color: none;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
  min-width: 80px;
  max-width: 120px;
}

.social-icon {
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
}

.skill-name {
  font-size: 12px;
  color: black;
  text-align: center;
}

.about-action {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.about-linkedin {
  background: #719bff;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.about-resume {
  appearance: none;
  background: none;
  color: #719bff;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 30px;
  border: 2px solid #719bff; 
  outline: none; 
  transition: 0.3s;
  cursor: pointer;
}

.about-resume:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-linkedin:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .about {
    margin: 80px auto;
  }

  .about-image img {
    width: 150px;
    
  }
  .about-image {
    top: -5px;
  }

  .about-text-bloc{
    padding: 90px 30px 30px 20px;
    margin-top: 80px;
  }

  .para-container {
    flex-direction: row;
  }

  .about p {
    flex: 1;
  }

  .about-action{
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .about-linkedin,
  .about-resume {
    width: auto;
  }

}