.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    text-align: center;
}

.about-left {
    position: relative;
}

.about-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}
.about-sections{
    display: flex;
    gap: 40px;
}

.about-resume-link {
    text-decoration: none; 
}

.about-resume {
    background-color: #FAF2EA;
    color: #392E2C; 
    border-radius: 50px; 
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px 40px;
    position: relative;
}

.about-resume:hover {
    transform: scale(1.05);
}
    
.about-right{
    display: flex;
    flex-direction: column;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    line-height: 1.6;
    font-style: normal;
    margin-bottom: 50px;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(135deg, #FFAE9D, #FAF2EA);
}