.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 40px 20px;
    margin-top: 30px;
}

.contact-title {
    position: relative;
    color: black;
    text-align: center;
}

.contact-title h1 {
    padding: 0px 15px;
    font-size: 5vw;
    font-weight: 600;
}

.contact-section {
    gap: 40px;
}

.contact-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color: black;
    width: 100%;
    max-width: 500px;
}

.contact-right label {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.contact-right input {
    border: none;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    background: #edf2fb;
    color: grey;
    font-family: Outfit;
    font-size: 16px;
}

.contact-right textarea {
    width: calc(100% - 40px);
    height: 100px;
    border: none;
    padding: 20px;
    border-radius: 4px;
    background: #edf2fb;
    color: grey;
    font-family: Outfit;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-submit {
    background-color: #abc4ff;
    color: black; 
    border-radius: 50px;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 30px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-self: center;
    border: none;
}

.contact-submit:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

@media (max-width: 768px) {
    .contact {
        gap: 60px;
        margin: 60px 40px;
    }

    .contact-title h1 {
        font-size: 60px;
    }

    .contact-right {
        gap: 25px;
    }

    .contact-right label {
        font-size: 20px;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 18px;
    }

    .contact-submit {
        font-size: 20px;
        padding: 18px 36px;
    }
}

@media (max-width: 1024px) {
    .contact {
        gap: 80px;
        margin: 80px 60px;
    }

    .contact-title h1 {
        font-size: 60px;
    }

    .contact-right {
        gap: 30px;
    }

    .contact-right label {
        font-size: 22px;
    }

    .contact-right input,
    .contact-right textarea {
        font-size: 20px;
    }

    .contact-submit {
        font-size: 22px;
        padding: 20px 40px;
    }
}