.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 180px;
    margin-top: 30px;
    
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}
.contact-section{
    gap: 150px;
    
}
.contact-left {
    gap: 30px;
}
.contact-left h1 {
    font-size: 30px;
    font-weight: 700;
    background: #DAD2BC;
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: white; 
}
.contact-left p{
    max-width: 800px;
    color: white;
    font-size: 20px;
    line-height: 35px;

}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
}
.contact-detail{
display: flex;
align-items: center;
gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;

}
.contact-right label{
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    background: #FAF2EA;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;

}
.contact-right textarea{
    width: 480px;
    height: 100px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #FAF2EA;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
    margin-bottom: 20px;

}
.contact-submit {
    background-color: white;
    color: #392E2C; 
    border-radius: 50px; 
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 20px 40px;
margin-bottom: 50px;
cursor: pointer;
transition: 0.3s;
display: flex;
justify-content: center;
align-self: center;

}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}