.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: #CCAEA4;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #392E2C;
}
.nav-connect:hover{
    transform: scale(1.05);
}
