.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: #17153B;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu a, .nav-connect a {
    color: inherit;      
    text-decoration: none; 
}

.nav-menu a:hover, .nav-connect a:hover {
    color: white;       
}
