.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    color: black;

}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: #719bff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu a, .nav-connect a {
    color: inherit;      
    text-decoration: none; 
}

.nav-menu a:hover, .nav-connect a:hover {
    color: black;       
}

.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}




@media (max-width: 768px) {
    .navbar {
      margin: 20px 50px;

    }
    .nav-connect {
      display: none;
    }
        .nav-mob-open {
          display: block;
          position: fixed;
          right: 20px;
          top: 20px;
          z-index: 1000;
          cursor: pointer;
          width: 30px; /* Ajoutez une largeur définie */
          height: 30px; /* Ajoutez une hauteur définie */
        }
      
    .nav-mob-close {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      cursor: pointer;
    }
    .nav-menu {
      position: fixed;
      flex-direction: column;
      align-items: center;
      top: 0;
      right: -100%;
      gap: 30px;
      background-color: #719bff;
      width: 100%;
      height: 100%;
      z-index: 998;
      transition: right 0.3s ease-in-out;
      padding-top: 60px;
    }
    .nav-menu.active {
      right: 0;
    }
    .nav-menu li {
      font-size: 24px;
      text-align: center;
      width: 100%;
    }
    .nav-menu a {
      display: block;
      padding: 10px 0;
      width: 100%;
    }
  }