.footer {
    background-color: #433D8B;
    padding: 20px; 
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .footer-top {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .footer-top-left img {
    height: 50px;
    width: auto;
    margin-left: 100px;
  }
  
  .footer-bottom {
    text-align: center; 
    margin-top: 10px; 
  }
  
  .footer-bottom-left {
    font-size: 14px; 
    color: white; 
    margin-right: 100px; 
  }
  