.footer {
    background-color:#B39188; /* Fond blanc */
    padding: 20px; /* Espacement intérieur */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour un peu de profondeur */
  }
  
  .footer-top {
    display: flex; /* Utilisation de flexbox pour aligner le contenu */
    justify-content: space-between; /* Espace entre les éléments */
    align-items: center; /* Centrer verticalement */
  }
  
  .footer-top-left img {
    height: 50px; /* Hauteur du logo */
    width: auto; /* Largeur automatique pour conserver les proportions */
    margin-left: 100px;
  }
  
  .footer-bottom {
    text-align: center; /* Centrer le texte en bas */
    margin-top: 10px; /* Espacement au-dessus du texte */
  }
  
  .footer-bottom-left {
    font-size: 14px; /* Taille de police du texte */
    color: white; /* Couleur du texte */
    margin-right: 100px; /* Enlever les marges par défaut */
  }
  