.footer {
    background-color: black;
    padding: 20px; 
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); 
  }
  
  .footer-top {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .footer-top-left img {
    height: 50px;
    width: auto;
    margin-left: 100px;
  }
  
  .footer-bottom {
    text-align: center; 
    margin-top: 10px; 
  }
  
  .footer-bottom-left {
    font-size: 14px; 
    color: white; 
    margin-right: 100px; 
  }
  

  @media (max-width: 768px) {
    .footer-top {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .footer-top-left img {
      margin-left: 100px;
    }
  
    .footer-bottom-left {
      margin-right: 100px;
    }
  }